<div class="row">
  <div class="col s12 m6">
    <h4>Add a new question to the <%=@survey.name.capitalize%> survey </h4>
    <%= form_for @question, url: survey_survey_questions_path(@survey.id), method: :post do |f|%>
      <button class="fixed">For fixed response</button> <button class="free">For free response</button>
      <div class="questionContainer"></div>
      <br>
      <br>
      <%=f.submit%>
    <% end %>
  </div>
</div>
